body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #0a0f1f, #111827);
  color: white;
  text-align: center;
}

nav {
  background-color: #1f2937;
  padding: 15px;
}

nav h1 {
  color: #38bdf8; /* azul cielo */
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 8px;
}

nav a:hover {
  background-color: #ef4444; /* rojo */
}

main {
  margin: 40px auto;
  width: 80%;
  max-width: 700px;
  background-color: #1f2937;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

h2 {
  color: #38bdf8; /* azul cielo */
}

h3 {
  color: #ef4444; /* rojo */
}

p {
  line-height: 1.6;
}
